.Rproj.user
.Rhistory
.RData
.DS_Store


*.log
*.aux
*.pdfsync
*.synctex.gz
body_supp1.tex
suppl1.pdf
outputs/figures/*.pdf
outputs/figures/pmgcd_altogether_figure.tex
outputs/figures/pmgcd_boxplots_figure.tex
outputs/birdmaps
outputs/isotope_ref_bird_results.rda
